input[type=text], input[type=password] {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    display: inline-block;;
    box-sizing: border-box;
}

input[type=date] {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    display: inline-block;;
    box-sizing: border-box;
}


.alignCenter {
  text-align: center;
}

#textRegister {
  padding-top: 20px;
  padding-right: 40%;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 100px;
    border: none;
    cursor: pointer;
    width: 40%;
}
